html, body {
    height: 100%;  /* Asegura que el html y el body ocupen toda la altura de la ventana */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

#perfil-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;  /* Asegura que el contenedor mínimo tenga la altura de la ventana */
    flex: 1;  /* Permite que el contenedor crezca si es necesario */
}

.perfil-info {
    flex: 1;  /* Esto asegura que el contenido interno expanda para empujar el footer hacia abajo */
    /* Asegúrate de no tener un overflow oculto aquí */
}

.cerrar-sesion-button {
    background-color: #3a06aa;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .cerrar-sesion-button:hover {
    background-color: #06066b;
  }
  
