html, body {
    height: 100%;  /* Asegura que el html y el body ocupen toda la altura de la ventana */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

#perfil-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;  /* Asegura que el contenedor mínimo tenga la altura de la ventana */
    flex: 2;  /* Permite que el contenedor crezca si es necesario */
}

.perfil-info {
    max-width: 900px; /* Aumenta el ancho máximo para hacer la tarjeta más ancha */
    width: 100%; /* Asegura que ocupe todo el ancho disponible */
    margin: 30px auto;
    padding: 30px; /* Aumenta el padding para que haya más espacio interior */
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Otras clases permanecen igual */

.perfil-title {
    color: #714dc9;
    margin-bottom: 20px;
}

.avatar-container {
    margin: 20px 0;
}

.perfil-avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
}

.perfil-name {
    font-size: 22px;
    color: #333;
    margin-bottom: 10px;
}

.perfil-item {
    font-size: 16px;
    color: #666;
    margin-bottom: 5px;
}

.perfil-label {
    font-weight: bold;
    color: #333;
}

.cerrar-sesion-button {
    background-color: #3a06aa;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .cerrar-sesion-button:hover {
    background-color: #06066b;
  }
  
