#publicaciones-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Asegura que el contenedor ocupe al menos la altura de la ventana */
  }
  
.publicaciones-header {
/* Estilos para el encabezado */
}

.publicaciones-content {
flex: 1; /* Permite que este contenedor expanda para empujar el footer hacia abajo */
padding: 20px; /* Añade padding para diseño */
}

.publicaciones-button {
/* Estilos adicionales para el botón si es necesario */
}
  