html, body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif; /* Usar San Francisco */
}
#publicar-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Asegura que el contenedor ocupe al menos la altura de la ventana */
}

.publicar-header {
  margin:20px
    /* Estilos para el encabezado */
}

.publicar-content {
    flex: 1; /* Permite que este contenedor expanda para empujar el footer hacia abajo */
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra los contenidos verticalmente */
    padding: 20px; /* Añade padding para diseño */
}

.publicar-button {
    /* Estilos adicionales para el botón si es necesario */
}

.publicar-form-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%; /* Ajusta el ancho al 50% del contenedor padre */
    max-width: 500px; /* Asegura que no exceda los 1000px */
    align-items: center; /* Centra todos los items del formulario */
    margin: auto; /* Centra el contenedor en el espacio disponible */
}
.form-control-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra horizontalmente */
  justify-content: center; /* Centra verticalmente */
  width: 100%; /* O ajusta al tamaño necesario */
  margin: auto; /* Centra el contenedor dentro de su padre */
}


.publicar-form-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    width: 50%; /* Asegura que la fila ocupe todo el ancho del contenedor de formularios */
}

.publicar-form-input {
    width: 100%; /* Ocupa todo el ancho disponible */
}

.publicar-form-time {
    width: 20%; /* Limita el ancho de los inputs de tiempo al 20% del contenedor de la fila */
}

.publicar-form-time, .publicar-form-date {
    width: 20%; /* Ajusta este valor según tus necesidades para campos de tiempo y fecha */
}

/* Si tus campos de fecha necesitan más espacio, ajusta este valor según necesites */
.dropzone {
    margin: 0 auto; /* Centra el contenedor horizontalmente */
    padding: 20px; /* Añade un padding para diseño */
    max-width: 800px; /* Ajusta el ancho máximo del contenedor */
    border: 2px dashed #ccc; /* Estilo del borde (opcional) */
    border-radius: 10px; /* Bordes redondeados (opcional) */
    cursor: pointer;
 
  }
  
  .thumbs-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
  }
  
  .thumb {
    display: inline-flex;
    border-radius: 2px;
    border: 1px solid #eaeaea;
    margin-bottom: 8px;
    margin-right: 8px;
    width: 150px;
    height: 150px;
    padding: 4px;
    box-sizing: border-box;
  }
  
  .thumb-inner {
    display: flex;
    min-width: 0;
    overflow: hidden;
  }
  
  .thumb img {
    display: block;
    width: auto;
    height: 100%;
  }
  
  .buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .image-upload-container {
    
}



