/* Contenedor del mapa */
#map {
    height: 400px; /* Altura del mapa */
    width: 50%;   /* Ancho del mapa */
  }
  
  /* Botón de actualización de ubicación */
  .update-location-btnn {
    background-color: #714dc9;  /* Un tono específico */
    color: white;
    font-weight: bold;  /* Texto en negrita */
    padding: 15px 20px;  /* Espaciado interno para hacer el botón más grande */
    border: none;  /* Sin bordes */
    border-radius: 5px;  /* Bordes redondeados */
    cursor: pointer;  /* Cursor en forma de mano al pasar el mouse */
    text-transform: uppercase;  /* Texto en mayúsculas */
    transition: background-color 0.3s, box-shadow 0.3s;  /* Transición suave para hover */
    outline: none;  /* Elimina el contorno que aparece al hacer clic */
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;  /* Usa la fuente Montserrat */
    left: 0;
    position: absolute; 
    margin-left: 19px;
  }


  
  .update-location-btnn:hover {
    background-color: #e67e22;  /* Un tono más oscuro de naranja para el hover */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);  /* Sombra ligera para resaltar el botón */
  }
  
  /* Contenedor de la información del lugar seleccionado */
  .info-lugar {
    margin-top: 50px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .info-lugar.show {
    display: block; /* Mostrar la información del lugar */
  }
  
  .info-lugar h2 {
    font-size: 1.25rem;
    font-weight: bold;
  }
  
  .info-lugar p {
    margin-top: 10px;
    color: #555;
  }  

  .boton_ubi {
    align-items: left;
  }

  .map-container {
    position: relative;
    width: 60%;
    height: 700px;
  }
  
  /* Contenedor principal que alinea mapa e información */
.map-info-container {
    display: flex;
    align-items: start; /* Alinea los elementos en la parte superior */
    justify-content: space-between; /* Separa los elementos */
    width: 100%; /* Utiliza todo el ancho disponible */
    margin: 20px 0;
  }
  
  /* Estilo del mapa */

  
  /* Botón de actualización de ubicación */
 
  /* Estilo del contenedor de información */
  .info-lugar {
    flex: 1;  /* Ocupa 1 parte del espacio disponible */
    height: 700px; /* Altura para alinear con el mapa */
    overflow-y: auto; /* Permite desplazamiento si el contenido es largo */
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: white; /* Fondo blanco para la legibilidad */
  }
  
  /* Mostrar la información del lugar */
  .info-lugar.show {
    display: block; /* Asegura que el panel de información se muestre */
  }
  
  /* Encabezados y párrafos en el panel de información */
  .info-lugar h2 {
    font-size: 1.25rem;
    font-weight: bold;
  }
  
  .info-lugar p {
    margin-top: 10px;
    color: #555;
  }
  
  