.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    
}

.navbar-content {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.navbar-logo {
    margin-right: 20px; /* Espacio entre el logo y los enlaces */
    cursor: pointer;
}

.navbar-links a {
    margin-right: 20px; /* Espacio entre los enlaces */
    text-decoration: none;
    color: black; /* Cambia esto según tu esquema de colores */
}

.navbar-login {
    margin-right: auto; /* Empuja todo lo demás a la derecha */
    cursor: pointer; 
}

.whatsapp-icon {
    font-size: 24px; /* Tamaño del icono de WhatsApp */
    cursor: pointer;
    color: #25D366; /* Color del icono de WhatsApp */
}

.footer-link:hover {
    background-color: #000; /* Cambia el fondo al pasar el ratón */
    color: #fff; /* Cambia el color del texto al pasar el ratón */
}

.footer-link-2 {
    text-decoration: none;
    color: #000; /* Color del texto de los enlaces */
    font-weight: bold; /* Negrita para el texto */
    padding: 8px 16px; /* Padding para hacer los enlaces más clickeables */
    border-radius: 5px; /* Bordes redondeados para los enlaces */
    transition: background-color 0.3s, color 0.3s; /* Transición suave para hover */
    margin-left: 950px; /* Ajusta el valor según lo que necesites */
    
}

